Repository jalantechnologies/react-native-template, pull requests merged in 2025-07, with the labels that each got.

#163 feat(RadioButton): Add reusable cross-platform RadioButton component
  src/components/radio-button/index.ts
  src/components/radio-button/radio-button.styles.ts
  src/components/radio-button/radio-button.tsx
  src/types/index.ts
  src/types/radio-button.ts
Labels: components

#173 feat(Button): Implement cross-platform styled Button Component
  src/app-theme.ts
  src/components/button/button.styles.ts
  src/components/button/button.tsx
  src/components/button/index.ts
  src/types/button.ts
  src/types/index.ts
Labels: components

#195 feat(Button): Modified Existing Button Component
  src/app-theme.ts
  src/components/button/button.styles.ts
  src/components/button/button.tsx
  src/components/button/index.ts
  src/components/modal/modal-footer.component.tsx
  src/components/modal/modal-header.component.tsx
  src/screens/auth/change-api-url/change-api-url.tsx
  src/screens/auth/phone-auth/phone-auth-form.tsx
  src/screens/dashboard/task-section/task-delete-modal.tsx
  src/screens/dashboard/task-section/task.tsx
  src/screens/profile/home/account-delete-modal.tsx
  src/screens/profile/home/profile-info-section.tsx
  src/types/button.ts
  src/types/index.ts
Labels: components

#176 Feat: Add support for deploying on iOS (Preview)
  .github/CI_README.md
  .github/workflows/ios_pr_cleanup.yml
  .github/workflows/preview_on_pr_update.yml
  ios/.env.preview
  ios/Gemfile
  ios/Gemfile.lock
  ios/fastlane/Appfile
  ios/fastlane/Fastfile
  ios/fastlane/Matchfile
  ios/fastlane/scripts/ios_testflight_cleanup.rb
  ios/fastlane/scripts/ios_testflight_deploy.rb
  react-native.config.js
Labels: devops

#211 feat: include accountId in TaskService routes
  src/services/task.service.ts
Labels: enhancement

#212 fix: map over data.items in TaskContextProvider instead of data
  src/contexts/task-context.tsx
Labels: bug
